*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	transition: all 500ms;
}

.main{
	position: fixed;
	left: 10px;
	right: 10px;
	top: 10px;
	display: flex;
	flex-flow: column wrap;
	gap: 20px;
	justify-content: space-around;
	align-content: space-around;
	padding: 10px;
	box-shadow: 2px 2px 2px black,inset 3px 3px 3px black;
}

.child{
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	width: 100%;
}

.child input[type='number']
{
	padding: 10px;
	border: none;
	border: 2px inset white;
}

.child input[type='number']:hover
{
	border: 2px outset white;
}

.child input[type='number']:visited
{
	border: none;
}

.btn{
	display: flex;
	align-items: center;
	width: 60px;
	height: 30px;
	border: 1px solid;
    border-radius: 15px;
	background-color: white;
	font-size: small;
}


.switch
{
	transform: translate(100%);
	width: 30px;
	border: 2px solid black;
	border-radius: 10px;
	padding: 2px;
	background-color: white;
	color: black;
}

.onMode
{
	background-color: black;
	color: white;
}

.offMode
{
	color: black;
	background-color: white;
}

button{
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: serif;
	font-size: large;
}

@media (width<400px)
{
	.child input{
     width:100%;
	}
}


